<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/nikpo/IdeaProjects/GITHUB_API"><classes><class name="org.example.Integration.Git_CRUD"><methods><include name="createrepo"/><include name="getrepos"/><include name="getlanguagesrepos"/><include name="updaterepo"/><include name="Deleterepos"/></methods></class></classes></test></suite>